.about_us h1{
    font-size: 40px; 
    text-align: center;
}
.about_us div p{
    max-width: 90%; 
    margin-left: 5%; 
    font-size: 20px; 
    color: rgb(52, 52, 52);
}
.our_location{
    background-color: black; 
    width: 100%; 
    border-radius: 20px 20px 0px 0px; 
    padding-top:10px;
    padding-bottom: 30px; 
    overflow: auto ;

}
.google_src{
    width: 100%; 
    margin-right: 10%; 
    margin-top: 10px; 
    padding-bottom: 0px;
}
.our_location .about_us{
    margin-top: 100px;
}
.findushere{
    text-align: center; 
    color: #fff; 
    font-size: 40px;
}



.info_about{
    float: right;
    color: white;
    margin-left: 10%;
    clear: both;
    margin-right: 9%;
}

.info_about p{
    color: #fff;
}

.info_about p{
    font-size: 20px;
}
.info_about ul{
    list-style: none;
    color:#fff;
}
.info_about ul li a{
    color: cornsilk;
    transition: 200ms;
}
.info_about ul li a:hover{
    color: rgb(92, 138, 225);
    transition: 200ms;
}
.info_sized{
    font-size: 20px;
}

#location{
    width: 80%; 
    font-size: 25px; 
    color:#fff; 
    display: inline-block; 
    margin-left: 10%;
}
#find_us_here{
    text-align: center;
    color: #d0d0d0;
    font-size: 40px;
}