*{
    --button-color: #34495e; 
    --button-color-hover: #718daa;
}

.product-wraper{
    margin-top: 100px;
}
.content{
    width: 95%;
    height: fit-content;
    background-color: var(--content-color);
    margin: auto;
    border-radius: 35px;
    padding: 50px 0 50px 0;
    margin-top: 100px;
}

.products-container {
    display: flex;
    flex-wrap: wrap; /* Позволяет элементам переноситься на новую строку */
    justify-content: flex-start; /* Все элементы выравниваются по левой стороне */
    gap: 20px; /* Отступы между элементами */
    padding: auto;
    margin: auto;
}

.container {
    width: calc(20% - 20px); /* 6 элементов в строку */
}

.container {
    display: block;
    border: black solid 1px;
    color: var(--main-text-color);
    padding: 10px;
    box-sizing: border-box;
    text-align: right;
}

.container img{
    width: 100%;
}

.container button{
    width: 100%;
    border-radius: 5px;
    border: 0px;
    background-color: var(--button-color);
    padding: 10px;
    margin: 0 auto; /* Центрирование кнопки */
}

.container button:hover{
    background-color: var(--button-color-hover);
}


/* Для средних экранов (планшеты, небольшие ноутбуки) */
@media (max-width: 1199px) and (min-width: 768px) {
    .content{
        width: 100%;
        border-radius: 0;
    }
    .container {
        width: calc(25% - 20px); /* 4 элемента в строку */
    }
}

/* Для телефонов и маленьких экранов */
@media (max-width: 767px) {
    .content{
        width: 100%;
        border-radius: 0;
    }
    .container {
        width: calc(33.33% - 20px); /* 3 элемента в строку */
    }

    /* Кнопка должна занимать 100% ширины и быть по центру */
    .container button {
        width: 100%; /* 100% ширины кнопки */
        padding: 10px;
        margin: 0 auto; /* Центрирование кнопки */
        display: block; /* Обеспечивает, что margin будет работать */
    }
}