*{
    margin: 0;
}

body{
    background-color: antiquewhite;
}

main{
    padding-top: 100px;
}

#addProduct{
    margin: 0;
    padding-left: 100px;
    background-color: black;
    color:aliceblue;
}

#output_form{
    margin: auto;
    width: 95%;
}