*{
    --main-bg-color:  #f8edcf;
    --content-color: #3b3b3b;
    --main-text-color:  #ffffff;
    --footer-a-color: cornsilk;
    --footer-a-color-hover:  darkred;
    
}


html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    background-color: var(--main-bg-color);
    margin: 0 0 0 0;
}

.warp{
    width: 97%;
    margin: auto;
    margin-top: 80px;
}

.main_info{
    background-color: black;
    border-radius: 35px;
    padding: 30px;
    color:#ffffff;
    height: fit-content;
}

.our_location{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.geo_frame{
    height: 450px;
    width: 100%;
    border: none;
    border-radius: 20px; 

}

#google_src, #info_about{
    flex: 1;
    width: 100%;
    
}

#info_about{
    margin: auto;
    width: 100%;
    font-size: 1.2em;
}

#info_about p{
    font-size: 1.5em;
}

#info_about a{
    color: var(--main-bg-color);
}

.content{
    background-color: var(--content-color);
    margin: auto;
    color: #ffffff;
    margin-top: 50px;
    border-radius: 35px 35px;
    padding: 50px 20px 50px 20px;
}

.about_us h1{
    font-size: 2em;
}

.about_us p{
    font-size: 1.3em;
}

footer{
    background-color: black;
    color: var(--main-text-color);
    margin-top: 10px;
    margin: 0;
    padding: 100px;
    margin-top: 10px;
}

footer a{
    color: var(--footer-a-color);
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #5586b8;
    color: white;
    border: none;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    opacity: 0; /* Изначальная прозрачность */
    transition: opacity 0.5s ease; /* Переход для прозрачности */
    visibility: hidden; /* Полностью скрывает элемент */
}

.scroll-to-top.show {
    visibility: visible; /* Элемент видим */
    opacity: 0.8; /* Полностью непрозрачный */
}


@media (max-width: 1199px) and (min-width: 768px) {
    .warp{
        width: 100%;
        margin-top: 100px;
    }

    .content{
        background-color: var(--content-color);
        margin: auto;
        color: #ffffff;
        margin-top: 50px;
        border-radius: 0px;
        padding: 50px 20px 50px 20px;
    
    }

    .main_info{
        background-color: black;
        border-radius: 0px;
        padding: 30px;
        color:#ffffff;
    }


}

/* Для телефонов и маленьких экранов */
@media (max-width: 767px) {
    .warp {
        width: 100%; /* Використовувати всю ширину екрана */
        margin-top: 100px;
    }

    .content {
        background-color: var(--content-color);
        margin: auto;
        color: #ffffff;
        margin-top: 50px;
        border-radius: 0px;
        padding: 20px; /* Менший внутрішній відступ для мобільних */
    }

    .main_info {
        background-color: black;
        border-radius: 0px;
        padding: 20px; /* Зменшення відступів */
        color: #ffffff;
        width: 100%; /* Використовувати всю ширину */
        box-sizing: border-box; /* Враховувати padding у ширині */
    }

    .about_us h1{
        font-size: 2em;
        text-align: center;
    }
    

    .our_location {
        flex-direction: column; /* Стекова орієнтація для маленьких екранів */
        gap: 10px;
    }

    .geo_frame {
        width: 100%; /* Ширина кадру на всю ширину контейнера */
        height: 300px; /* Зменшена висота для мобільних пристроїв */
    }

    #google_src,
    #info_about {
        width: 100%; /* Адаптація блоків до ширини */
    }

    #info_about ul {
        padding-left: 0; /* Зменшення внутрішніх відступів */
        list-style-type: none; /* Прибирання маркерів списку */
    }
}

@media(hover: hover){
    *:hover{
        transition: background-color 200ms, color 200ms;
    }
    footer a:hover{
        color: var(--footer-a-color-hover);
    }
    #info_about ul a:hover{
        color: var(--footer-a-color-hover);
        
    }
    .scroll-to-top:hover {
        background-color: #718daa;
    }

}

@media(hover: none){
    *:active{
        transition: background-color 200ms, color 200ms;
    }
    footer a:active{
        color: var(--footer-a-color-hover);
    }
    #info_about ul a:active{
        color: var(--footer-a-color-hover);
        
    }
    .scroll-to-top:active {
        background-color: #718daa;
    }
}