* {
	box-sizing: border-box;
}
body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
}


.content{
    width: 95%; 
	background-color: bisque;
	/*background-color:rgb(221, 255, 128); */
    margin-top: 15px; 
    margin-left: auto; margin-right: auto; 
    border-radius: 20px;
	margin-top: 5em;
	padding-bottom: 50px;
}


footer{
    height: 300px; 
    width: 100%; 
    background-color: black; 
    margin-top: 20px;
	padding-left: 5%;
	padding-top: 50px;
	overflow: auto;
}

footer ul{
	list-style: none;
	color: white;
	font-size: 20px;
}
footer ul a{
	color: cornsilk;
}
footer ul a:hover{
	color: rgb(92, 138, 225);
}

footer h2{
	color: whitesmoke;
	
}

.sale-items figure {
	display: flex;
	justify-content: space-between;
}
.sale-items img {
	flex: 0 0 auto;
	margin-right: 10px;
}


.product {
	border: 1px solid #ccc;
	padding: 10px;
	margin: 10px;
}


/* ================================= 
  Media Queries
==================================== */




@media (min-width: 769px) {
	header,
	.main-nav {
		display: flex;
	}
	header {
		flex-direction: column;
		align-items: center;
    	.header{
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
		}
	}

}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}
