*{
    --main-bg-color:  #f8edcf;
    --content-color: #3b3b3b;
    --main-text-color:  #ffffff;
    --footer-a-color: cornsilk;
    --footer-a-color-hover:  darkred;

}


html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    background-color: var(--main-bg-color);
    margin: 0 0 0 0;
}

.warp{
    width: 95%;
    margin: auto;
    margin-top: 100px;
}

.content{
    background-color: var(--content-color);
    margin: auto;
    color: #ffffff;
    margin-top: 50px;
    border-radius: 35px 35px;
    padding: 50px 20px 50px 20px;

}

.aboutus{
    background-color: black;
    border-radius: 35px;
    padding: 30px;
    color:#ffffff;
}

.google_src {
    display: flex;
    justify-content: space-between; /* Розміщення елементів зліва та справа */
    margin-bottom: 20px; /* Відступ знизу */
}

.contact_form {
    flex: 1; /* Займає 1 частину простору */
    padding-right: 20px; /* Відступ з правого боку */
}

.info_about {
    padding-left: 20px; /* Відступ з лівого боку */
    margin-left: auto;
    margin-right: auto;
}
.info_about ul a{
    color: var(--main-bg-color);
}

footer{
    background-color: black;
    color: var(--main-text-color);
    margin-top: 10px;
    margin: 0;
    padding: 100px;
    margin-top: 10px;
}

footer a{
    color: var(--footer-a-color);
}


@media(hover: hover){
    *:hover{
        transition: background-color 200ms, color 200ms;
    }
    footer a:hover{
        color: var(--footer-a-color-hover);
    }
    .info_about ul a:hover{
        color: var(--footer-a-color-hover);
        
    }
}

@media(hover: none){
    *:active{
        transition: background-color 200ms, color 200ms;
    }
    footer a:active{
        color: var(--footer-a-color-hover);
    }
    .info_about ul a:active{
        color: var(--footer-a-color-hover);
        
    }
}