header ul{
	margin: 0;
	padding: 0;	
	list-style: none;
	display: inline-block;
	margin: auto;
}

a {
	text-decoration: none;
}

.logo {
    margin: 0;
    font-size: 1.5em;
}

.main-nav {
    display: flex; /* Flex-контейнер для меню */
    gap: 15px; /* Промежуток между ссылками */
    list-style: none;
    padding: 0;
    margin: 0;
}

.logo a, .main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	display: inline-block;
	
}

.main-nav a {
    padding: 10px 15px;
    text-transform: uppercase;
    color: #34495e;
    font-size: .99em;
    text-decoration: none;
}

.logo{
    padding: 10px 15px;
    text-transform: uppercase;
    color: #34495e;
    text-decoration: none;
    font-weight: 600;
}


.centered-text{
	justify-items: center;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

header {
    display: flex; /* Flex-контейнер для горизонтального выравнивания */
    justify-content: space-between; /* Распределение элементов по бокам */
    align-items: center; /* Выравнивание по вертикали по центру */
    padding: .5em;
    background-color: #f4f4f4;
    border: 1px solid #a2a2a2;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    text-align: center;
    margin: auto;
}

#productList ul {
    list-style-type: none;
    padding: 0;
}

#productList li {
    max-height: 300px;
    width: 9%;
    margin: 10px;
    float: left;
    box-sizing: border-box;
    border: 1px solid #ddd;
    padding: 10px;
    overflow: hidden;
}

.menu-toggle {
    display: none; /* Скрыто на больших экранах */
    background-color: transparent; /* Прозрачный фон */
    border: none; /* Без границ */
    font-size: 2em; /* Размер шрифта для кнопки */
    cursor: pointer; /* Указатель при наведении */
    color: #34495e; /* Цвет кнопки */
}

.main-nav.active {
    display: block; /* Показывает меню, когда оно активно */
}

@media (max-width: 1199px) and (min-width: 768px) {
    
}

/* Для телефонов и маленьких экранов */
@media (max-width: 767px) {
    header{
        width: 100%;
    }
    .menu-toggle {
        display: block; /* Показывает кнопку для открытия меню на маленьких экранах */
        padding-right: 20px;
    }

    .main-nav {
        width: 100%;
        display: none; /* Скрывает меню по умолчанию на маленьких экранах */
        position: absolute; /* Абсолютное позиционирование */
        top: 60px; /* Отступ сверху под заголовком */
        right: 0; /* Привязывает к правому краю */
        background-color: #f4f4f4; /* Фон меню */
        width: 200px; /* Ширина выпадающего меню */
        box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.75); /* Тень для меню */
        border-radius: 5px; /* Закругленные углы */
        z-index: 10; /* Поверх других элементов */
        padding: 10px 0; /* Внутренний отступ */
    }

    .main-nav li {
        width: 100%; /* Полная ширина для элементов меню */
        text-align: center; /* Центрирование текста */
    }

    .main-nav a {
        padding: 10px; /* Внутренний отступ для ссылок */
        display: block; /* Блочный элемент для кликабельной области */
    }
}


@media(hover: hover){
    
    .main-nav a:hover {
        color: #718daa;
    }
    
    .logo:hover {
        color: #718daa;
    }
}

@media(hover: none){
    .main-nav a:active {
        color: #718daa;
    }
    
    .logo:active {
        color: #718daa;
    }
}