/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#productCatalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-form {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

